#navbar{
    position: fixed;
    min-height: 60px;
    left: 50%;
    transform: translateX(-50%);
}

#navbar ul{
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    gap: 15px;
    list-style-type: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #1a1a1a80;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
}

#navbar ul li a{
    color: white;
}