#navbar{
    position: fixed;
    min-height: 60px;
    left: 50%;
    transform: translateX(-50%);
}

#navbar ul{
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    margin-top: 30px;
    gap: 15px;
    list-style-type: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #1a1a1a80;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
}

#navbar ul li a{
    color: white;
}

#navbar .blog-link{
    position: relative;
    cursor: default;
}

#navbar .blog-link::after{
    content: attr(data-tooltip);

    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);

    padding: 5px 8px;
    background-color: #333; 
    color: #fff; 
    white-space: nowrap;
    border-radius: 4px;
    font-size: 0.8rem;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

#navbar .blog-link:hover::after{
    opacity: 1;
    visibility: visible;
}