#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#about h1, h2{
    margin: 5px;
}

#about h1{
    width: 30%;
    text-align: center;
}