#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    min-height: calc(100vh - 120px);
    padding-top: 0px;
}

#about > *{
    transform: translateY(-60px);
}

#about h1, #about h3, #about p{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5px;
}

#about p{
    max-width: 400px;
}

@media (max-width: 768px) {
    #about{
        min-height: 100vh;
        padding: 0 20px;
    }

    #about h1 {
        width: 100%;
        max-width: 80%;
    }

    #about h2 {
        font-size: 1.75rem;
    }

    #about p {
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {
    #about h2 {
        font-size: 1.5rem;
    }
}