.footer-container {
    color: #fff; 
}

.footer-content {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    max-width: 1200px;
    padding: 50px;
    width: 100%;
    max-width: 100%;
    background-image: url('contact_bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.footer-content::before {
    content: ''; 
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.6); 
    z-index: -1; 
    background-image: linear-gradient(
        to bottom,
        rgba(10, 10, 10, 0.9) 0%,   
        rgba(10, 10, 10, 0.0) 50%   
    );
}

.contact-info, .social-links {
    margin: 20px;
    max-width: 400px;
}

.contact-info p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.email-link {
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    display: inline-block;
    padding: 8px 15px;
    border: 1px solid #2563EB;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.email-link:hover {
    background-color: #2563EB;
    color: #fff;
}

.social-links ul {
    list-style: none;
    padding: 0;
}

.social-links li {
    margin-bottom: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #2563EB;
}

.copyright p {
    color: #8d8d8d;
    margin-top: 0px;
    font-size: 0.9rem;
    border-top: 1px solid #272727;
    padding-top: 15px;
    text-align: center;
}