#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 300px;
}

#projects h2{
    margin: 0px;
}

#projects .categories{
    display: flex;
    gap: 25px;
    margin: 20px 0 20px 0;
}

#projects .categories p{
    font-size: 12px;
    margin: 0;
    padding: 7px 10px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2)
}

.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 25px;
}

.project-card{
    padding: 25px;
    background-color: #242424;
    border-radius: 12px;
    overflow: hidden;
}

.project-card h3{
    margin: 10px 0 0 0;
}

.project-card p{
    margin-top: 5px;
}

.project-card img{
    max-width: 100%;
    border-radius: 12px;
    height: auto;
}