#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects h2{
    margin-bottom: 20px;
}

#projects .categories{
    display: flex;
    gap: 25px;
}

#projects .categories p{
    font-size: 12px;
    margin: 0;
    padding: 7px 10px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2)
}